/* Navigation Styles */

ion-accordion {
    font-family: Arial, sans-serif;
    font: 16px bold;
    color: #f4f4f4;
    
}

/* Card Styles */

ion-card {
    --ion-item-border-color: #025E73;
    --ion-item-background: #80A7BF;
    --ion-text-color: #012E40;
}

ion-button {
    --ion-item-border-color: #025E73;
    --ion-item-background: #80A7BF; 
    --ion-text-color: #012E40;
} 

ion-card {
    width: auto;
    height: 125px; /* Set height at an estimated amount, can be adjusted - Kristin 4/5/2023*/
}

ion-img::part(image) {
    width: 50%; /* Just supposed to little "Bubble" images on each card - Kristin 4/5/2023 */
    height: 35%; /* Might need to adjust height further because cards are so much taller than wide, but wouldn't compile due to Test page issues so I couldn't verify size - Kristin 4/5/23  */
}
  

/* Footer Styles */

ion-footer {
    margin-top: 50px;
    background-color: #f4f4f4;
    padding: 10px;
}
  
ion-footer p {
    font-size: 12px;
    color: #888;
}
  