/* Navigation Styles */

ion-accordion {
    font-family: Arial, sans-serif;
    font: 16px bold;
    color: #f4f4f4;
    
}

/* Card Styles */

ion-card {
    --ion-item-border-color: #025E73;
    --ion-item-background: #80A7BF;
    --ion-text-color: #012E40;
}

ion-button {
    --ion-item-border-color: #025E73;
    --ion-item-background: #80A7BF; 
    --ion-text-color: #012E40;
} 

ion-card {
    width: auto;
    height: fit-content;
}

ion-img::part(image) {
    width: 50%; /* or whatever value */
    /* you can set the height value too */
  }
  

/* Footer Styles */

ion-footer {
    margin-top: 50px;
    background-color: #f4f4f4;
    padding: 10px;
}
  
ion-footer p {
    font-size: 12px;
    color: #888;
}
  