ion-card, ion-title, ion-card-subtitle, ion-item {
    overflow: visible;
    text-align: center;
}

.hover-item:hover {
    background-color: #e8e8e8; /* Change to the color you want */
  }
  
  .hover-icon:hover {
    color: #007bff; /* Change to the color you want */
  }


.hover-item:hover {
    background-color: #f8f9fa; /* This will be the background color on hover. */
    transition: background-color 0.3s ease; /* This adds a smooth transition effect. */
}
