<ion-card>
    <ion-card-header>
      <ion-card-title>Education - Strategies</ion-card-title>
      <ion-card-subtitle>How to Prevent Cognitive Overload</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button shape="round" size="large" fill="outline" disabled="true">Intrinsic - Sequencing, Chunking, & Scaffolding</ion-button>
    <ion-button shape="round" size="large" fill="outline" disabled="true">Germane - Reflection & Interweaving</ion-button>
    <ion-button shape="round" size="large" fill="outline" disabled="true">Extraneous - Keep Things Simple</ion-button>

    <ion-card-content>
    Strategies to deal with cognitive overload
    </ion-card-content>
  </ion-card>
<br>
  <ion-button shape="round" size="small" fill="outline">EFT</ion-button>
  <ion-button shape="round" size="small" fill="outline">EMDR</ion-button>
  <ion-button shape="round" size="small" fill="outline">DBT</ion-button>
  <ion-button shape="round" size="small" fill="outline">CBT</ion-button>
<br>
  <ion-button shape="round" size="large" fill="solid" expand="block">Forum for Tasks</ion-button>
<br>
  <ion-content class="ion-padding">
    <h1>Content</h1>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title expand="full">[Footer] - github link - copyright 2023</ion-title>
    </ion-toolbar>
  </ion-footer>
  