ion-card, ion-title, ion-card-subtitle {
    overflow: visible;
    color: black;
    text-align: center;
}

    // @media (max-width: 768px) {
    //   ion-grid {
    //     grid-template-columns: repeat(1, 1fr) !important;
    //   }
    // }

    // @media (min-width: 769px) {
    //   ion-grid {
    //     grid-template-columns: repeat(3, 1fr) !important;
    //   }
    // }

    // ion-card {
    //   transition: transform 0.3s ease-in-out;
    // }

    // ion-card:hover {
    //   transform: scale(1.05);
    // }

    // ion-button {
    //   transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    // }

    // ion-button:hover {
    //   background-color: #dddddd;
    //   transform: scale(1.1);
    // }
