ion-card {
    --ion-item-border-color: #025E73;
    --ion-item-background: #80A7BF;
    --ion-text-color: #012E40;
  }

ion-button {
    --ion-item-border-color: #025E73;
    --ion-item-background: #80A7BF; 
    --ion-text-color: #012E40;
} 

ion-button.large {
    --background: #025E73;
    --ion-text-color: #012E40;
} 

ion-toolbar {
    --background: #025E73;
    --ion-text-color: #012E40;
} 