<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-nav></app-nav>
  <div class="form-container ion-center ion-justify-content">
    <form #f="ngForm" (ngSubmit)="signup(f.value.email, f.value.password)">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Sign Up Today!
          </ion-card-title>
        </ion-card-header>

        <ion-item class="icon-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <ion-input aria-label="email" name="email" [(ngModel)]="email" required="true"></ion-input>
        </ion-item>
        <p *ngIf="f.submitted && f.controls['email'].errors" class="error-message">Email is required</p>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input name="password" aria-label="password" [(ngModel)]="password" type="password"
            required="true"></ion-input>
        </ion-item>
        <p *ngIf="f.submitted && f.controls['password'].errors" class="error-message">Password is required</p>
        <ion-item>
          <a href="/policy">Terms and Conditions</a>

        </ion-item>
        <div>
          <ion-item style="overflow: visible;">
            <ion-checkbox [(ngModel)]="termsChecked" name="terms" aria-label="terms" required="true"
              style="overflow: visible;">
              <p class="ion-text-wrap"> I have read and agree
                to the Terms and
                Conditions linked above.
              </p>
            </ion-checkbox>
          </ion-item>

        </div>




        <ion-button class="signup-button" type="submit" [disabled]="!f.valid">Sign Up</ion-button>
        <p>{{ errorMessage }}</p>

        <div class="link-container">
          <a href="/login">Already have an account? Login here.</a>
        </div>
      </ion-card>
    </form>
  </div>

  <app-footer></app-footer>
</ion-content>