<app-nav></app-nav>

<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; ">
    <ion-card style="width: 80vw;">

      <ion-item>
        <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" aria-required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" aria-required="true"></ion-input>
      </ion-item>

  <ion-button expand="full" (click)="signup(email, password)">Sign Up</ion-button>
      <p>{{ errorMessage }}</p>
    </ion-card>

  </div>
</ion-content>