<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <app-nav></app-nav>


  <div class="hero">
    <img src="assets/HeroSample.jpg" alt="Hero Image">
    <div class="hero-overlay">
      <div style="background-color: white;">
        <ion-card-header>
          <ion-card-title>Welcome to Brain Lift</ion-card-title>
          <ion-card-subtitle>Manage Your Mental Health</ion-card-subtitle>
        </ion-card-header>
      </div>

      <div style="background-color: white;">

        <ion-card-content>
          <p>Reduce cognitive load and improve your mental health with our powerful app. Get personalized exercises and
            techniques to help you optimize your cognitive performance and reduce stress.</p>
          <p>Track your progress, set reminders, and receive helpful insights along the way. Start your journey to a
            healthier mind today!</p>
        </ion-card-content>
      </div>

      <ion-button expand="full" color="primary" class="get-started-button" (click)="goSignup()">Get Started</ion-button>

      <ion-grid class="features-grid">
        <ion-row>
          <ion-col size="6">
            <ion-icon name="bar-chart-outline" class="feature-icon"></ion-icon>
            <h3>Personalized Insights</h3>
            <p>Get personalized insights to understand your cognitive load and make informed decisions for better mental
              health.</p>
          </ion-col>
          <ion-col size="6">
            <ion-icon name="timer-outline" class="feature-icon"></ion-icon>
            <h3>Time Management</h3>
            <p>Learn effective time management techniques to optimize your cognitive performance and reduce overwhelm.
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="heart-outline" class="feature-icon"></ion-icon>
            <h3>Mindfulness Exercises</h3>
            <p>Practice mindfulness exercises to enhance your focus, reduce stress, and improve your overall well-being.
            </p>
          </ion-col>
          <ion-col size="6">
            <ion-icon name="clipboard-outline" class="feature-icon"></ion-icon>
            <h3>Task Prioritization</h3>
            <p>Learn effective strategies to prioritize tasks and manage your cognitive load more efficiently.</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div style="width: 100vw; text-align: center; background-color: white;">
        <ion-card-header>
          <h1>Mission</h1>
        </ion-card-header>
        <ion-card-content>
          <p>Our mission at Brain Lift is to enable individuals to optimize their cognitive performance and improve
            their
            learning abilities via the efficient management of cognitive load. We aim to provide users with a thorough
            understanding of cognitive load, its impact on performance and learning, and practical techniques for
            minimizing
            cognitive overload. By integrating the NASA Task Load Index and our cognitive load application, Brain Lift,
            we
            enable users to evaluate their cognitive load across a variety of tasks and activities, allowing them to
            make
            informed decisions and schedule their time efficiently. Through our platform, users are able to identify
            areas
            of high cognitive load, implement cognitive load management strategies such as scaffolding, automaticity,
            and
            chunking, and ultimately achieve enhanced task completion, accelerated learning, and increased independence
            in
            daily life.
          </p>
        </ion-card-content>

        <ion-footer>
          <ion-toolbar class="ion-text-center" expand="full">
            <p>&copy; 2023 Cognitive Load App. All rights reserved.</p>
          </ion-toolbar>
        </ion-footer>
      </div>


    </div>
  </div>




</ion-content>