<ion-header [translucent]="true">
    <app-nav></app-nav>
    <ion-toolbar>
        <ion-title>Terms and Conditions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Terms and Privacy Policy</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card style="padding: 10px;">
        <h2>
            Terms of Service
        </h2>
        <h6>
            Welcome to our website. These terms and conditions outline the rules and regulations for the use of our
            website.
        </h6>
        <div style="text-align: left;">

            <h3>1. Acceptance of Terms</h3>
            <p>By accessing or using our website, you agree to be bound by these terms and conditions. If you disagree
                with
                any part of these terms and conditions, you must not use our website.</p>

            <h3>2. Intellectual Property Rights</h3>
            <p>Our website and its original content, features, and functionality are owned by us and are protected by
                international copyright, trademark, patent, trade secret, and other intellectual property or proprietary
                rights laws.</p>

            <h3>3. User Content</h3>
            <p>By posting or submitting any content on our website, you grant us a non-exclusive, worldwide,
                royalty-free,
                irrevocable, and sublicensable license to use, reproduce, adapt, modify, publish, distribute, publicly
                display, and perform the content for any purpose.</p>

            <h3>4. Limitation of Liability</h3>
            <p>In no event shall we be liable for any indirect, incidental, special, consequential, or punitive damages,
                including without limitation, loss of profits, data, use, goodwill, or other intangible losses,
                resulting from
                your access to or use of our website.</p>

            <h3>5. Governing Law</h3>
            <p>These terms and conditions shall be governed by and construed in accordance with the laws of the United
                States of America, and you submit to the exclusive jurisdiction of the courts located in Colorado for
                the
                resolution of any disputes.</p>

            <h3>6. Changes to Terms</h3>
            <p>We reserve the right to modify or replace these terms and conditions at any time. Your continued use of
                our
                website after any such changes constitutes your acceptance of the new terms and conditions.</p>

            <h3>7. Contact Us</h3>
            <p>If you have any questions about these terms and conditions, please contact us at
                kartikinpublic@gmail.com.</p>
        </div>
    </ion-card>
    <ion-card style="padding: 10px;">
        <h2>Privacy Policy</h2>

        <div style="text-align: left;">
            <p>Your privacy is important to us. It is our policy to respect your privacy regarding any information we
                may
                collect from you across our website.</p>

            <h3>1. Information Collection and Use</h3>
            <p>We may collect personal information from you such as your name and email address when you voluntarily
                submit a
                contact form or sign up for our newsletter. We use this information to communicate with you and provide
                the
                services you requested.</p>

            <h3>2. Cookies</h3>
            <p>We use cookies to analyze our website traffic and improve your browsing experience. You have the option
                to
                disable cookies through your browser settings, but this may affect the functionality of our website.</p>

            <h3>3. Third-Party Services</h3>
            <p>We may use third-party services on our website, such as Google Analytics, to collect, monitor, and
                analyze
                website usage and performance. These third-party service providers have their own privacy policies
                governing the
                use of your information.</p>

            <h3>4. Data Security</h3>
            <p>We strive to protect the security of your personal information and implement appropriate security
                measures to
                safeguard it. However, please be aware that no method of transmission over the internet or electronic
                storage is
                100% secure.</p>

            <h3>5. Links to Other Websites</h3>
            <p>Our website may contain links to other websites that are not operated by us. We have no control over the
                content and privacy practices of these third-party sites, and we are not responsible for their
                policies.</p>

            <h3>6. Changes to Privacy Policy</h3>
            <p>We reserve the right to update or change our Privacy Policy at any time. Any changes will be posted on
                this
                page, and your continued use of our website after such modifications constitutes your acceptance of the
                new
                Privacy Policy.</p>

            <h3>7. Contact Us</h3>
            <p>If you have any questions or concerns about our Privacy Policy, please contact us at
                kartikinpublic@gmail.com.
            </p>
        </div>
    </ion-card>
</ion-content>
