<ion-accordion-group expand="inset" [multiple]="true">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Home</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content" (click)="goHome()">Home</div>
    <div class="ion-padding" slot="content" (click)="goLogin()">Login</div>
    <div class="ion-padding" slot="content" (click)="goSignup()">Signup</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Education</ion-label>
    </ion-item>

    <div class="ion-padding" slot="content" (click)="goEducation()">Education</div>
    <div class="ion-padding" slot="content" (click)="goStrategies()">Strategies</div>
    <div class="ion-padding" slot="content" (click)="goAbout()">About</div>

    <!-- <div class="ion-padding" slot="content" (click)="goMeasure()">Measure</div> -->
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Quiz</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content" (click)="goQuiz()">Quiz - NASA TLX</div>
    <div class="ion-padding" slot="content" (click)="goTask()">New Task</div>
    <div class="ion-padding" slot="content" (click)="goResults()">Results</div>
    <div class="ion-padding" slot="content" (click)="goTest()">Test</div>
  </ion-accordion>
</ion-accordion-group>