<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-nav></app-nav>


  <ion-content>
    <ion-list style="text-align: center;">
      <ion-item>
        <ion-select aria-label="Task Options" interface="popover" placeholder="Choose a Task"
          (ionChange)="handleChange($event)">
          <ion-select-option *ngFor="let task of tasks; let i = index" [value]="i">{{task.taskName}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{taskName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div *ngFor="let question of questions">
          <p>{{question.text}}</p>
          <ion-range min="1" max="10" [(ngModel)]="question.answer" [value]="5" [pin]="true" [ticks]="true"
            [snaps]="true" [value]="5">
            <ion-label slot="start">1</ion-label>
            <ion-label slot="end">10</ion-label>
          </ion-range>
        </div>
      </ion-card-content>
      <ion-button fill="clear" (click)="getFormData()">SAVE</ion-button>
    </ion-card>
  </ion-content>



</ion-content>