<ion-accordion-group expand="inset" [multiple]="true">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Home</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Home</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Education</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Cog Load Page</div>
    <div class="ion-padding" slot="content">Strategies</div>
    <div class="ion-padding" slot="content">Measure</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Quiz</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Quiz - Builder</div>
    <div class="ion-padding" slot="content">New Task</div>
    <div class="ion-padding" slot="content">Quiz - Task Load</div>
    <div class="ion-padding" slot="content">Quiz - Results</div>
  </ion-accordion>
</ion-accordion-group>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-header>
    <ion-toolbar>
      <ion-title>
        Quiz Page
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{taskName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div *ngFor="let question of questions">
          <p>{{question.text}}</p>
          <ion-range min="1" max="10" [(ngModel)]="question.answer" [value]="5" [pin]="true" [ticks]="true"
            [snaps]="true" [value]="5">
            <ion-label slot="start">1</ion-label>
            <ion-label slot="end">10</ion-label>
          </ion-range>
        </div>
      </ion-card-content>
      <ion-button fill="clear" (click)="getFormData()">SAVE</ion-button>
    </ion-card>
  </ion-content>



</ion-content>