/* Navigation Styles */

ion-accordion {
    font-family: Arial, sans-serif;
    font: 16px bold;
    color: #f4f4f4;
    
}

/* Footer Styles */

ion-footer {
    margin-top: 50px;
    background-color: #f4f4f4;
    padding: 10px;
}
  
ion-footer p {
    font-size: 16px;
    color: #888;
}