<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>API Route Test Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-nav></app-nav>

  <ion-title>Task API Routes</ion-title>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="getTaskData()">Get Task
    Data</ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="postTaskData(formData)">POST Task
    Data</ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="updateTaskData(formData)">Update Task
    Data</ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="deleteTaskData(formData)">Delete Task
    Data</ion-button>
  <ion-text>{{taskData}}</ion-text>


  <ion-title>Answer API Routes</ion-title>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="getAnswerData()">Get Answer
    Data</ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="postAnswerData(formData)">POST Answer
    Data</ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="updateAnswerData(formData)">
    Update Answer Data</ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="deleteAnswerData(formData)">
    Delete Answer Data
  </ion-button>
  <ion-text>{{answerData}}</ion-text>



  <ion-title>User API Routes</ion-title>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="getUserData()">
    Get User Data
  </ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="postUserData(formData)">
    POST User Data
  </ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="updateUserData(formData)">
    UPDATE User Data
  </ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="deleteUserData(formData)">
    DELETE User Data
  </ion-button>
  <ion-text>{{userData}}</ion-text>


  <ion-title>Session/Login Data</ion-title>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="startSession()">
    Start Session Data
  </ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="storeSessionData()">
    Store Session Data
  </ion-button>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="getSessionData()">
    Get Session Data</ion-button>



  <ion-title>JWT Data</ion-title>
  <ion-button expand="full" color="primary" class="get-started-button" (click)="getAndDecodeJWT()">
    Get JWT</ion-button>
  {{jwt}}




</ion-content>