ion-card, ion-title, ion-card-subtitle {
    --ion-item-border-color: #025E73;
    --ion-item-background: #80A7BF;
    --ion-text-color: #012E40;
    overflow: visible;
    color: black;
    text-align: center;
}